[Unit]
Description=Check HAProxy and add VIP script
After=network.target

[Service]
Type=simple
ExecStart=/opt/check_service_name_and_add_vip.sh --{{ service_name }} --{{ interface }}  --{{ vip_address }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target