#!/bin/bash
while true; do
    # Check if the service is running
    if systemctl is-active haproxy.service >/dev/null 2>&1; then
        # Check if the interface has the specified IP address
        if ip -br addr show dev {{ interface }} | grep -q {{ vip_address }}; then
            echo "Service is running and interface {{ interface }} has IP address {{ vip_address }}"
            sleep 2
        else
            echo "Interface {{ interface }} does not have IP address {{ vip_address }}, adding it now"
            ip addr add {{ vip_address }} dev {{ interface }}
        fi
    else
        # Service is not running, remove the IP address if it exists
        if ip -br addr show dev {{ interface }} | grep -q {{ vip_address }}; then
            echo "Haproxy service is not running and interface {{ interface }} has IP address {{ vip_address }}, removing it now"
            ip addr del {{ vip_address }} dev {{ interface }}
        fi
    fi
done