[Unit]
Description=Check HAProxy and add VIP script
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /opt/check_service_name_and_add_vip.sh
Environment="SERVICE=haproxy"
Environment="INTERFACE=lo"
Environment="VIP_ADDRESS=192.168.8.32/24"
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target